<!-- Dialog測試 要寫前端可直接刪掉 -->
<p>admin works!</p>
<mat-spinner></mat-spinner>

<div style="padding: 24px; display: flex; gap: 16px;">
  <!-- 一般確認 -->
  <button mat-flat-button color="primary" type="button" (click)="testNormalDialog()">
    測試一般確認彈窗
  </button>

  <!-- 危險警告 -->
  <button mat-flat-button color="warn" type="button" (click)="testDangerDialog()">
    測試危險操作彈窗
  </button>
</div>

<div>
  <button mat-flat-button type="button" (click)="NormalDialog()">
    確認彈窗
    </button>
</div>


<button mat-flat-button color="primary" (click)="testLoadingApi()">
      測試 API 載入動畫 (延遲 2 秒)
    </button>

