html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

.custom-confirm-dialog-panel {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 12px !important; // 圓角調整
    background-color: #FFFFFF;
  }
}
